body {
	position: relative;
}

table {
	position: absolute;
	width:  90%;
    left: 50%;
    transform: translate(-50%, 0);
}

td {
	width: 130px;
	height: 130px;
}

#alien-section {
	padding:  0 50px 0 50px;
}

.alien-position {
	width:  calc(85%/10);
}